+tablet-mobile() {
  .sidebar-toggle, .sidebar {
    display: none;
  }
}

.archive .collection-title {
  display: none !important;
}

@media (min-width: 1200px) {
  .post-body {
    font-size: 1em;
  }
}