//$content-desktop         = 'calc(100% - %s)' % unit($content-desktop-padding / 2, 'px')
$content-desktop-large   = 1000px
$content-desktop-largest = 1000px


// Code Font.
$code-font-family = "Input Mono", "PT Mono", Consolas, Monaco, Menlo, monospace

// Font size of articles.
//$font-size-base = 14px

// Font size of table and code.
$table-font-size = 13px